.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 5%;
  background-color: #4878D9;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 30%;
  img {
    width: 20%;
  }
  titulo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
