.contentContainer {
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  margin: 10px;
  padding: 10px;
}
.content {
  display: flex;
  flex-direction: column;
}
.pagesButtons {
  position: relative;
}

.table {
  width: 100%;
}
