.containerCard {
  height: 10%;
  width: 20%;
  background-color: #d9eca5;
  border: 3px solid #4d533d;
  box-shadow: 5px 5px 10px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
